.container {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: white;
    color: black;
  }
  
  .body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*padding-top: 50px;*/
    width: 85vw;
  }
  
  .description, .tagsContainer{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  .description p{
    font-size: 12px;
    margin: 0px;
  }
  .description p:nth-of-type(1){
    margin-top: 8px;
  }
  .description p:nth-of-type(2){
    font-size: 28px;
    width: 700px;
    margin-left: 30px;
  }
  .tagsContainer{
    display: flex;
    margin-top: 50px;
  }
  
  .tagsContainer p{
    margin: 0px;
  }
  
  .tags{
    display: flex;
    width: 900px;
    margin-left: 30px;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .tags p{
    /*border: 1px solid black;*/
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    /*padding: -10px -12px -10px -12px;*/
    margin: 0px -18px;
  }
  
  .line{
    height: 1px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  .line svg{
    width: 100%;
    height: 500px;
    position: absolute;
    top: -250px;
  }
  
  .line svg path{
    stroke: black;
    stroke-width: 1px;
    fill: none;
  }
  
  .line .box{
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
  }
  
  .line .box:hover{
    height: 500px;
    top: -250px;
  }


.button p{
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 1;
}
.button{
    margin-top: -30vh;
    /*top: 60%;*/
    left: calc(100% - 80vw); 
    width: 180px;
    height: 180px;
    background-color: #1C1D20;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}