.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;

    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}

